{% extends '@SulmiProductBundle/base.html.twig' %}
{% block title %} {{ category.title }}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h3>{{ category.title }}</h3>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-default btn-sm" role="button" href="{{ path('new_product_for_category',{'id':category.id }) }}">Nowy produkt</a>
        </div>
    </div>
    <div class="row">
        <div class="hide">
            <div id="error-dialog" class="container">Wiadomosc o nie udanej probie paginacji produktow</div>
        </div>
        <div class="col-xs-12 text-center" id="products-container">
            {% include 'SulmiProductBundle::partial/product/product_paginated_ajax.html.twig' with { 'products':products } %}
        </div>
    </div>    {# Display controls #}
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block footerjavascripts %}
    {{ parent() }}
{% endblock %}

