{% extends '@SulmiProductBundle/base.html.twig' %}
{% block title %}{{ product.name }}{{ parent() }}{% endblock %}
{% if is_granted('ROLE_ADMIN') %}
    {% set is_granted=true %}
{% else %}
    {% set is_granted=false %}
{% endif %}
{% if product_has_media(product) %}
    {% set product_has_media=true %}
{% else %}
    {% set product_has_media=false %}
{% endif %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {# https://github.com/blueimp/Gallery/blob/master/README.md#demo #}
    {% include 'SulmiProductBundle::partial/blueimp-gallery.html.twig' %}
    <div class="row">
        <div class="{% if is_granted or product_has_media %}col-md-8{% else %}col-md-12{% endif %}">
            <div class="row box-wrapper-inner">
                <div class="col-xs-12 box1">
                    <h1 class="header">{{ product.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ product.description | raw }}
                </div>
            </div>
            {# slot_medias cantainer wit acordion jquery plugin #}
            <div class="row" id="slot_medias">
            </div>
            {# buttons action cantainer #}
            <div class="row">
                {# static cantainer cantain form and all aptions #}
                <div id="staticMediaFormSlot" class="col-xs-12">
                </div>
            </div>
        </div>
        {% if is_granted or product_has_media %}
            <div class="col-md-4">
                {# Ajax response cantainer #}
                <div class="row">
                    <div class="col-xs-12">
                        {# slot_medias cantainer wit acordion jquery plugin #}
                        <div class="row" id="slot_gallery">
                            {% set allmedia = {'images': images, 'videos': videos, 'medias': medias } %}
                            {% include 'SulmiProductBundle::partial/media_slot_acordion.html.twig' with allmedia %}
                        </div>
                    </div>
                </div>
                <div class="row" id="newMediaFormSlot"></div>
            </div>
        {% endif %}
    </div>
{% endblock %}
        {% block footer %}
            {{ parent() }}
        {% endblock %}
{% if is_granted or product_has_media %}
    {% block footerjavascripts %}
        {{ parent() }}
        <script type="text/javascript">
            //make gallery for any list images   
            function blueimpgallery(container) {
                document.getElementById(container).onclick = function (event) {
                    event = event || window.event;
                    var indicatorOptions = {
                        indicatorContainer: 'ol',
                        activeIndicatorClass: 'active',
                        thumbnailProperty: 'thumbnail',
                        thumbnailIndicators: true
                    };
                    var target = event.target || event.srcElement,
                        link = target.src ? target.parentNode : target,
                        options = {index: link, event: event, indicatorOptions: indicatorOptions},
                        links = this.getElementsByTagName('a');
                    blueimp.Gallery(links, options);
                };
            }
            {% if is_granted %}
            function btnShowUpload(btn) {
                $(btn).switchClass("btn-default", "btn-success");
                $(btn).text("Anuluj dodawanie");
                $.ajax({
                    type: 'post',
                    url: '{{ path('product_ajax_form', { 'id':product.id }) }}'
                })
                    .done(function (data) {
                        $('#newMediaFormSlot').html(data);
                        var ul = $('#upload ul');
                        $('#drop a').click(function () {
                            $(this).parent().find('input').click();
                        });
                        // Initialize the jQuery File Upload plugin
                        $('#upload').fileupload({
                            // This element will accept file drag/drop uploading
                            dropZone: $('#drop'),
                            // This function is called when a file is added to the queue;
                            // either via the browse button, or via drag/drop:
                            add: function (e, data) {
                                var tpl = $('<li class="working"><input type="text" value="0" data-width="48" data-height="48"' +
                                    ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /><p></p><span></span></li>');
                                // Append the file name and file size
                                tpl.find('p').text(data.files[0].name)
                                    .append('<i>' + formatFileSize(data.files[0].size) + '</i>');
                                // Add the HTML to the UL element
                                data.context = tpl.appendTo(ul);
                                // Initialize the knob plugin
                                tpl.find('input').knob();
                                // Listen for clicks on the cancel icon
                                tpl.find('span').click(function () {
                                    if (tpl.hasClass('working')) {
                                        jqXHR.abort();
                                    }
                                    tpl.fadeOut(function () {
                                        tpl.remove();
                                    });
                                });
                                // Automatically upload the file once it is added to the queue
                                var jqXHR = data.submit();
                            },
                            progress: function (e, data) {
                                var progress = parseInt(data.loaded / data.total * 100, 10);
                                data.context.find('input').val(progress).change();
                                if (progress == 100) {
                                    data.context.removeClass('working');
                                }
                            },
                            fail: function (e, data) {
                                data.context.addClass('error');
                            },
                            done: function (e, data) {
                                $('#slot_gallery').html(data.result);
                                //--------------------------------------
                                $('#gallery').each(function () {
                                    blueimpgallery('gallery');
                                });
                                $('#tabs').each(function () {
                                    $(this).tabs();
                                });

                                $('#btnAjaxShowNewMediaForm')
                                    .text('Anuluj dodawanie')
                                    .switchClass("btn-default", "btn-success", 1000);

                                $('#btnAjaxShowNewMediaForm').on("click", null, function (e) {

                                    var newMediaFormSlot = $('#newMediaFormSlot');

                                    if (newMediaFormSlot.html().length > 0) {
                                        newMediaFormSlot.html('');
                                        btnHideUpload(this);
                                    }
                                    else if (newMediaFormSlot.html().length < 1) {
                                        btnShowUpload(this);
                                    }
                                });

                                // data.result
                                // data.textStatus;
                                // data.jqXHR;
                            }
                        });
                        $(document).on('drop dragover', function (e) {
                            e.preventDefault();
                        });
                        // Helper function that formats the file sizes
                        function formatFileSize(bytes) {
                            if (typeof bytes !== 'number') {
                                return '';
                            }
                            if (bytes >= 1000000000) {
                                return (bytes / 1000000000).toFixed(2) + ' GB';
                            }
                            if (bytes >= 1000000) {
                                return (bytes / 1000000).toFixed(2) + ' MB';
                            }
                            return (bytes / 1000).toFixed(2) + ' KB';
                        }
                    });
            }


            {% endif %}

            function btnHideUpload(btn) {
                //------------------------------------------------------------------
                $('#newMediaFormSlot').html('');
                $(btn).switchClass('btn-success', 'btn-default', 1000);
                $(btn).text("Dodaj media");
            }

            $(function () {

                $('#gallery').each(function () {
                    blueimpgallery('gallery');
                });

                $('#tabs').each(function () {
                    $(this).tabs();
                });

                //------------------------------------------------------------------
                // Enable iframe cross-domain access via redirect option:
                //#btnAjaxShowNewMediaForm
                {% if is_granted %}
                $('#btnAjaxShowNewMediaForm').on("click", null, function (e) {
                    if ($(this).hasClass('btn-default')) {
                        btnShowUpload(this);
                    }
                    else if ($(this).hasClass('btn-success')) {
                        btnHideUpload(this);
                    }
                });
                {% endif %}
            });
        </script>


    {% endblock %}
{% endif %}