{% extends '@SulmiProductBundle/base.html.twig' %}
{% block title %} Zdrowie {{ 'product.list'|trans }}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">

    </style>
{% endblock %}
{% block nav %}
    {{ parent() }} 
{% endblock %}
{% block body %}
    <h1 class="text-center">Strona domowa</h1>
    <div class="row">
        <div class="hide">        
            <div id="error-dialog" class="container">Wiadomosc o nie udanej probie paginacji produktow</div>
        </div> 
        <div class="col-xs-12 text-center" id="products-container"> 
            {% include 'SulmiProductBundle::partial/product/product_paginated_ajax.html.twig' with { 'products':products } %} 
        </div> 
    </div>
{% endblock %}
{% block footerjavascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            ajaxSortLinks('#container-sort-link');
            ajaxPaginationMedias('#medias-pagination-up');
            ajaxPaginationMedias('#medias-pagination');

            var options = {
                target: '#navigation-container',
                url: '{{ path('search_default') }}',
                success: function (data) {
                    $('#products-container').html(data);
                }
            };

            $('#search-form').ajaxForm(options);
        });
        function ajaxSortLinks(selector) {
            $(selector).find('a').each(function () {
                $(this).off('click').on('click', null, function (event) {
                    event.preventDefault();
                    var url = $(this).attr('href');
                    $.ajax({
                        type: 'post',
                        url: url
                    }).done(function (data) {
                        $('#products-container').html(data);
                        ajaxSortLinks('#container-sort-link');
                        ajaxPaginationMedias('#medias-pagination-up');
                        ajaxPaginationMedias('#medias-pagination');
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        $('#error-dialog').dialog();
                    });
                });
            });
        }
        function ajaxPaginationMedias(paginContainer) {
            $(paginContainer).find('ul').each(function () {
                $(this).children().each(function () {
                    $(this).children().first('a').off('click').on('click', null, function (event) {
                        event.preventDefault();
                        var url = $(this).attr('href');
                        $.ajax({
                            type: 'post',
                            url: url
                        }).done(function (data) {
                            $('#products-container').html(data);
                            ajaxSortLinks('#container-sort-link');
                            ajaxPaginationMedias('#medias-pagination-up');
                            ajaxPaginationMedias('#medias-pagination');
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            $('#error-dialog').dialog();
                        });
                    });
                });
            });
        }
    </script>
{% endblock %}

