{% extends '@SulmiProductBundle/base.html.twig' %}
{% block title %} Nowe media{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h4>Dodaj nowe media</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Dodaj media" />
    {{ form_end(form) }}
    <a class="btn btn-sm btn-info" role="button" href="{{ path('sulmi_product_productmedia_index') }}">Lista mediów</a>
{% endblock %}
