{% extends '@SulmiProductBundle/base.html.twig' %}
{% block title %} {{ 'product.list'|trans }}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h4>Produkty</h4>
    <div class="row">
        <div class="col-sm-12">
            <h4>Nowy produkt dla kategorii</h4>
            {{ form_start(form) }}
            <button class="btn btn-info btn-sm" type="submit">Dodaj</button>
            <a class="btn btn-info btn-sm" role="button" href="{{ path('sulmi_product_category_index') }}">Kategorie</a>
            <a class="btn btn-info btn-sm" role="button" href="{{ path('new_product_for_category',{'id':id }) }}">Nowy dla tej kategorii</a>
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
