{% extends '@SulmiProductBundle/base.html.twig' %}
{% block title %} {{ 'product.list'|trans }}{{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h4>Produkt dla kategorii</h4>
    <div class="row">
        <div class="hide">
            <div id="error-dialog" class="container">Wiadomosc o nie udanej probie paginacji produktow</div>
        </div>
        <div class="col-xs-12 text-center" id="products-container">
            {% include 'SulmiProductBundle::partial/product/product_paginated_ajax.html.twig' with { 'products':products } %}
        </div>
    </div>    {# Display controls #}
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-default btn-sm" role="button" href="{{ path('new_product_for_category',{'id':id }) }}">Nowy tutaj</a>
        </div>
    </div>
{% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% block footerjavascripts %}
    {{ parent() }}
{% endblock %}

